/*
To use those styles, download https://chromewebstore.google.com/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne
and just paste everything to a new style for wplace.live page and save the changes.
These styles only change the ui colors, the map canvas remains the same.
Download the script from https://github.com/autergame/WplacePlugins for tampermoney and change the theme to Dark Blue
in the new menu extension provides for even better effect!
*/
:root {
    color-scheme: dark;
    --text-fix: #ebfaff;
    --color-base-100: #000315cc;
    --color-base-200: #010021;
    --color-base-300: #020033;
    --color-base-content: #82d4f2;
    --btn-color: #000226d4;
    --btn-fg: #0002268a;
    --btn-bg: #0002268a;
    --border-fix: 1px solid #8fc5ff70;
    --fx-noise: none;
    --color-primary: #000646d4;
    --color-error: #4f000ced;
    --color-error-content: #ff9090;
    --color-error-content-border: var(--color-error-content);
}
[data-sonner-toaster] {
    --warning-bg: #312d00e8 !important;
    --warning-text: #e8d500 !important;
    --warning-border: #ac9e00 !important;
}
[data-type=info] {
    --info-bg: var(--btn-color);
    --info-border: var(--color-base-content);
    --info-text: var(--color-base-content);
}
[data-type=error] {
    --error-bg: var(--color-error);
    --error-border: var(--color-error-content);
    --error-text: var(--color-error-content);
}

body,
.tab:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected=true]),
.table :where(th, td),
.btn-soft:not(.btn-active, :hover, :active:focus, :focus-visible, :disabled, [disabled], .btn-disabled),
.text-primary,
.fill-primary {
    color: var(--text-fix) !important;
}

.btn:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost),
.sm\:mt-\[1px\] {
    color: #c0faff
}

.btn,
.dropdown .dropdown-content {
    border: var(--border-fix);
}

.text-xl > canvas {
    filter: invert(1) contrast(10);
}

.absolute.bottom-0.left-1\/2.-translate-x-1\/2 > button.btn:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost) .flex.items-center.gap-1.sm\:mt-\[1px\] > span > canvas {
    filter:
        invert(1)
        contrast(10)
        drop-shadow(-1px 0 0 #fff)
        drop-shadow(0 1px 0 #fff);  
}

.btn-error {
    border-color: var(--color-error-content-border)
}

.ring-2 {
    box-shadow: inset 0 0 10px var(--color-base-content);
	outline: 1px solid rgb(255, 255, 255);
}
